<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cities - Yggdrasil World Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/CitiesStyles.css}">
</head>
<body>

<nav th:replace="~{fragments/navbar}"></nav>

<div class="container mt-5">
    <h1>Cities Management</h1>
    <div class="mb-4">
        <div class="btn-group" role="group" aria-label="CRUD actions">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createCityModal">Create</button>
            <button class="btn btn-secondary" data-toggle="modal" data-target="#searchCityModal">Search</button>
<!--            <button class="btn btn-warning" data-toggle="modal" data-target="#updateCityModal">Update</button>-->
<!--            <button class="btn btn-danger" data-toggle="modal" data-target="#deleteCityModal">Delete</button>-->
        </div>
    </div>
    <div class="scrollable-table">
        <table class="table table-bordered table-striped header-fixed">
            <thead class="thead-light sticky-top">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Country (Country Code)</th>
                <th>District</th>
                <th>Population</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="city : ${cities}">
                <td th:text="${city.id}"></td>
                <td th:text="${city.name}"></td>
                <td th:text="${city.getCountryCode().getName()} + ' ' + '(' + ${city.getCountryCode().getCode()} + ')'"></td>
                <td th:text="${city.district}"></td>
                <td th:text="${city.population}"></td>
                <td>
                    <div class="button-group">
                        <button class="btn btn-warning btn-sm"
                                data-toggle="modal"
                                data-target="#updateCityModal"
                                th:data-city-id="${city.id}"
                                th:data-city-name="${city.name}"
                                th:data-country-code="${city.getCountryCode().getCode()}"
                                th:data-district="${city.district}"
                                th:data-population="${city.population}">Update</button>

                        <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteCityActionModal" th:data-city-id="${city.id}" th:data-city-name="${city.name}">Delete</button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/modals/create-city}"></div>
<div th:replace="~{fragments/modals/delete-city-action}"></div>
<div th:replace="~{fragments/modals/search-city}"></div>
<div th:replace="~{fragments/modals/delete-city-success}"></div>
<div th:replace="~{fragments/modals/update-city}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/javascript/cityActions.js}"></script>
<!--<script>-->
<!--    function toggleFields(value) {-->
<!--        document.getElementById('searchByIdFields').classList.toggle('d-none', value !== 'id');-->
<!--        document.getElementById('searchByNameFields').classList.toggle('d-none', value !== 'name');-->
<!--        document.getElementById('searchByCountryCodeFields').classList.toggle('d-none', value !== 'countryCode');-->
<!--        document.getElementById('largestDistrictsFields').classList.toggle('d-none', value !== 'largestDistricts');-->
<!--        document.getElementById('smallestDistrictsFields').classList.toggle('d-none', value !== 'smallestDistricts');-->
<!--        document.getElementById('byDistrictFields').classList.toggle('d-none', value !== 'byDistrict');-->
<!--        document.getElementById('populationBelowFields').classList.toggle('d-none', value !== 'populationBelow');-->
<!--        document.getElementById('populationAboveFields').classList.toggle('d-none', value !== 'populationAbove');-->
<!--    }-->
<!--</script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        let $successModal = $('#successModal');-->

<!--        $('#deleteCityActionModal').on('show.bs.modal', function (event) {-->
<!--            let button = $(event.relatedTarget);-->
<!--            let cityId = button.data('city-id');-->
<!--            let cityName = button.data('city-name');-->

<!--            let modal = $(this);-->
<!--            modal.find('#confirmDeleteButton').data('city-id', cityId);-->
<!--            modal.find('#confirmDeleteButton').data('city-name', cityName);-->
<!--        });-->

<!--        $('#confirmDeleteButton').on('click', function () {-->
<!--            let cityId = $(this).data('city-id');-->
<!--            let cityName = $(this).data('city-name');-->
<!--            if (cityId) {-->
<!--                $.ajax({-->
<!--                    url: '/cities/delete/' + encodeURIComponent(cityId),-->
<!--                    type: 'DELETE',-->
<!--                    success: function (result) {-->
<!--                        $('#deleteCityActionModal').modal('hide');-->
<!--                        $successModal.find('#cityName').text(cityName);-->
<!--                        $successModal.find('#cityId').text(cityId);-->
<!--                        $successModal.modal('show');-->
<!--                        $successModal.on('hidden.bs.modal', function () {-->
<!--                            window.location.href = '/cities';-->
<!--                        });-->
<!--                    },-->
<!--                    error: function (xhr, status, error) {-->
<!--                        alert('An error occurred while deleting the city.');-->
<!--                        console.error('Error:', error);-->
<!--                    }-->
<!--                });-->
<!--            }-->
<!--        });-->
<!--    });-->
<!--</script>-->
<!--<script>-->
<!--    $(document).ready(function () {-->
<!--        $('#updateCityModal').on('show.bs.modal', function (event) {-->
<!--            let button = $(event.relatedTarget);-->

<!--            console.log("Button data attributes:");-->
<!--            console.log(button.data());-->

<!--            let cityId = button.data('city-id');-->
<!--            let cityName = button.data('city-name');-->
<!--            let countryCode = button.data('country-code');-->
<!--            let district = button.data('district');-->
<!--            let population = button.data('population');-->

<!--            let modal = $(this);-->
<!--            modal.find('#cityIdUpdate').val(cityId);-->
<!--            modal.find('#cityNameUpdate').val(cityName);-->
<!--            modal.find('#countryCodeUpdate').val(countryCode);-->
<!--            modal.find('#districtUpdate').val(district);-->
<!--            modal.find('#populationUpdate').val(population);-->

<!--            console.log("Modal field values:");-->
<!--            console.log("City ID: " + modal.find('#cityIdUpdate').val());-->
<!--            console.log("City Name: " + modal.find('#cityNameUpdate').val());-->
<!--            console.log("Country Code: " + modal.find('#countryCodeUpdate').val());-->
<!--            console.log("District: " + modal.find('#districtUpdate').val());-->
<!--            console.log("Population: " + modal.find('#populationUpdate').val());-->
<!--        });-->

<!--        $('#updateCityForm').on('submit', function (e) {-->
<!--            e.preventDefault();-->

<!--            let cityId = $('#cityIdUpdate').val();-->
<!--            let cityName = $('#cityNameUpdate').val();-->
<!--            let countryCode = $('#countryCodeUpdate').val();-->
<!--            let district = $('#districtUpdate').val();-->
<!--            let population = $('#populationUpdate').val();-->

<!--            let cityData = {-->
<!--                id: cityId,-->
<!--                name: cityName,-->
<!--                countryCode: countryCode,-->
<!--                district: district,-->
<!--                population: population-->
<!--            };-->

<!--            $.ajax({-->
<!--                url: '/cities/update/' + encodeURIComponent(cityId),-->
<!--                type: 'PATCH',-->
<!--                data: JSON.stringify(cityData),-->
<!--                contentType: 'application/json',-->
<!--                success: function (response) {-->
<!--                    $('#updateCityModal').modal('hide');-->

<!--                    $('#updatedCityName').text(cityData.name);-->
<!--                    $('#updatedCityId').text(cityData.id);-->
<!--                    $('#updatedCountryCode').text(cityData.countryCode);-->
<!--                    $('#updatedDistrict').text(cityData.district);-->
<!--                    $('#updatedPopulation').text(cityData.population);-->

<!--                    $('#updateSuccessModal').modal('show');-->
<!--                },-->
<!--                error: function (xhr, status, error) {-->
<!--                    alert('An error occurred while updating the city.');-->
<!--                    console.error('Error:', error);-->
<!--                }-->
<!--            });-->
<!--        });-->

<!--        // Handle button clicks in the success modal-->
<!--        $('#viewCityButton').on('click', function () {-->
<!--            let cityId = $('#updatedCityId').text();-->
<!--            window.location.href = "/cities/search?searchMethod=id&cityId=" + encodeURIComponent(cityId) + "&name=&countryCode=&largestDistricts=&smallestDistricts=&district=&populationBelow=&populationAbove=";-->
<!--        });-->

<!--        $('#viewAllCitiesButton').on('click', function () {-->
<!--            window.location.href = "/cities";-->
<!--        });-->
<!--    });-->





<!--</script>-->

</body>
</html>
