<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Countries List</title>
</head>
<body>
<h1>Countries List</h1>

<!-- Search Form -->
<form action="#" th:action="@{/Yggdrasil/countries/search}" method="get">
    <label for="code">Search by Country Code:</label>
    <input type="text" id="code" name="code" placeholder="Enter country code">
    <button type="submit">Search</button>
</form>

<!-- Countries Table -->
<table border="1">
    <thead>
    <tr>
        <th>Code</th>
        <th>Name</th>
        <th>Continent</th>
        <th>Region</th>
        <th>Surface Area</th>
        <th>Independence Year</th>
        <th>Population</th>
        <th>Life Expectancy</th>
        <th>GNP</th>
        <th>GNP Old</th>
        <th>Local Name</th>
        <th>Government Form</th>
        <th>Head of State</th>
        <th>Capital</th>
        <th>Code2</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="country : ${countriesList}">
        <td th:text="${country.code}">Code</td>
        <td th:text="${country.name}">Name</td>
        <td th:text="${country.continent}">Continent</td>
        <td th:text="${country.region}">Region</td>
        <td th:text="${country.surfaceArea}">Surface Area</td>
        <td th:text="${country.indepYear}">Independence Year</td>
        <td th:text="${country.population}">Population</td>
        <td th:text="${country.lifeExpectancy}">Life Expectancy</td>
        <td th:text="${country.gnp}">GNP</td>
        <td th:text="${country.gNPOld}">GNP Old</td>
        <td th:text="${country.localName}">Local Name</td>
        <td th:text="${country.governmentForm}">Government Form</td>
        <td th:text="${country.headOfState}">Head of State</td>
        <td th:text="${country.capital}">Capital</td>
        <td th:text="${country.code2}">Code2</td>
        <td>
            <a th:href="@{/Yggdrasil/countries/edit/{code}(code=${country.code})}">Update</a>
        </td>
        <td>
            <form th:action="@{/Yggdrasil/countries/delete/{code}(code=${country.code})}" method="post" style="display:inline;">
                <input type="hidden" name="_method" value="delete"/>
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<!-- Update Form (Initially hidden) -->
<div th:if="${countryToEdit != null}">
    <h2>Update Country</h2>
    <form action="#" th:action="@{/Yggdrasil/countries/update}" method="post" th:object="${countryToEdit}">
        <input type="hidden" name="code" th:value="${countryToEdit.code}">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:value="${countryToEdit.name}"><br>
        <label for="continent">Continent:</label>
        <input type="text" id="continent" name="continent" th:value="${countryToEdit.continent}"><br>
        <label for="region">Region:</label>
        <input type="text" id="region" name="region" th:value="${countryToEdit.region}"><br>
        <label for="surfaceArea">Surface Area:</label>
        <input type="text" id="surfaceArea" name="surfaceArea" th:value="${countryToEdit.surfaceArea}"><br>
        <label for="indepYear">Independence Year:</label>
        <input type="text" id="indepYear" name="indepYear" th:value="${countryToEdit.indepYear}"><br>
        <label for="population">Population:</label>
        <input type="text" id="population" name="population" th:value="${countryToEdit.population}"><br>
        <label for="lifeExpectancy">Life Expectancy:</label>
        <input type="text" id="lifeExpectancy" name="lifeExpectancy" th:value="${countryToEdit.lifeExpectancy}"><br>
        <label for="gnp">GNP:</label>
        <input type="text" id="gnp" name="gnp" th:value="${countryToEdit.gnp}"><br>
        <label for="gNPOld">GNP Old:</label>
        <input type="text" id="gNPOld" name="gNPOld" th:value="${countryToEdit.gNPOld}"><br>
        <label for="localName">Local Name:</label>
        <input type="text" id="localName" name="localName" th:value="${countryToEdit.localName}"><br>
        <label for="governmentForm">Government Form:</label>
        <input type="text" id="governmentForm" name="governmentForm" th:value="${countryToEdit.governmentForm}"><br>
        <label for="headOfState">Head of State:</label>
        <input type="text" id="headOfState" name="headOfState" th:value="${countryToEdit.headOfState}"><br>
        <label for="capital">Capital:</label>
        <input type="text" id="capital" name="capital" th:value="${countryToEdit.capital}"><br>
        <label for="code2">Code2:</label>
        <input type="text" id="code2" name="code2" th:value="${countryToEdit.code2}"><br>
        <button type="submit">Update Country</button>
    </form>
</div>
</body>
</html>
