<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Countries List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/CitiesStyles.css}">
</head>
<body>
<nav th:replace="~{fragments/navbar}"></nav>

<!-- Search Form -->

<div class="container-fluid mt-5">
    <h1>Country Management</h1>
    <div class="mb-4">
        <div class="btn-group" role="group" aria-label="CRUD actions">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createCountryModal">Create</button>
            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#searchCountryModal">Read</a>
            <a href="#" class="btn btn-warning">Update</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <div class="scrollable-table">
        <table class="table table-bordered table-striped header-fixed">
            <thead class="thead-light sticky-top">
            <tr>
                <th>Code</th>
                <th>Name</th>
                <th>Continent</th>
                <th>Region</th>
                <th>Surface Area</th>
                <th>Independence Year</th>
                <th>Population</th>
                <th>Life Expectancy</th>
                <th>GNP</th>
                <th>GNP Old</th>
                <th>Local Name</th>
                <th>Government Form</th>
                <th>Head of State</th>
                <th>Capital</th>
                <th>Code 2</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="country : ${countriesList}">
                <td th:text="${country.code}"></td>
                <td th:text="${country.name}"></td>
                <td th:text="${country.continent}"></td>
                <td th:text="${country.region}"></td>
                <td th:text="${country.surfaceArea}"></td>
                <td th:text="${country.indepYear}"></td>
                <td th:text="${country.population}"></td>
                <td th:text="${country.lifeExpectancy}"></td>
                <td th:text="${country.gnp}"></td>
                <td th:text="${country.GNPOld}"></td>
                <td th:text="${country.localName}"></td>
                <td th:text="${country.governmentForm}"></td>
                <td th:text="${country.headOfState}"></td>
                <td th:text="${country.capital}"></td>
                <td th:text="${country.code2}"></td>

                <td>
                    <div class="button-group">
                        <a href="#" class="btn btn-warning btn-sm" th:href="@{'/countries/update/' + ${country.code}}">Update</a>
                        <a href="#" class="btn btn-danger btn-sm" th:href="@{'/countries/delete/' + ${country.code}}">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/modals/create-country}"></div>

<div th:replace="~{fragments/modals/search-country}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function toggleFields(value) {
        document.getElementById('searchByIdFields').classList.toggle('d-none', value !== 'id');
        document.getElementById('searchByNameFields').classList.toggle('d-none', value !== 'name');
        document.getElementById('searchByContinentFields').classList.toggle('d-none', value !== 'continent');
        document.getElementById('searchByRegionFields').classList.toggle('d-none', value !== 'region');
        document.getElementById('searchByGovernmentFormFields').classList.toggle('d-none', value !== 'governmentForm');
    }
</script>

</body>
</html>
