<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Languages - Yggdrasil World Database</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/CitiesStyles.css}">
</head>
<body>

<nav th:replace="~{fragments/navbar}"></nav>

<div class="container mt-5">
    <h1>Languages Management</h1>
    <div class="mb-4">
        <div class="btn-group" role="group" aria-label="CRUD actions">
            <button class="btn btn-primary" data-toggle="modal" data-target="#createLanguageModal">Create</button>
            <a href="#" class="btn btn-secondary" data-toggle="modal" data-target="#searchLanguageModal">Read</a>
            <a href="#" class="btn btn-warning">Update</a>
            <a href="#" class="btn btn-danger">Delete</a>
        </div>
    </div>
    <div class="scrollable-table">
        <table class="table table-bordered table-striped header-fixed">
            <thead class="thead-light sticky-top">
            <tr>
                <th>Country (Country Code)</th>
                <th>Language</th>
                <th>Is Official</th>
                <th>Percentage Spoken</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="language : ${languages}">
                <td th:text="${language.getId().getCountryCode()}"></td>
                <td th:text="${language.getId().getLanguage()}"></td>
                <td th:text="${language.getIsOfficial()}"></td>
                <td th:text="${language.getPercentage()}"></td>
                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="button-group">
                        <a href="#" class="btn btn-warning btn-sm"
                           th:attr="data-country-code=${language.getId().getCountryCode()}, data-language=${language.getId().getLanguage()}"
                           onclick="openUpdateModal(this); return false;">
                            Update</a>
                        <a href="#" class="btn btn-danger btn-sm"
                           th:attr="data-country-code=${language.getId().getCountryCode()},
                           data-language=${language.getId().getLanguage()},
                           data-is-official=${language.getIsOfficial()},
                           data-percentage=${language.getPercentage()}"
                           onclick="deleteLanguage(this)">Delete</a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div th:replace="~{fragments/modals/create-language.html}"></div>
<!--<div th:replace="~{fragments/modals/search-language.html}"></div>-->
<div th:replace="~{fragments/modals/no-language.html}"></div>
<div th:replace="~{fragments/modals/update-language.html}"></div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script th:src="@{/javascript/languageActions.js}"></script>

</body>
</html>
